{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        [
            "@babel/preset-typescript",
            {
                "jsxPragma": "h"
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-private-methods",
            {
                "loose": true
            }
        ]
    ]
}
